{% load static %}
{% for mov in MovieInfo %}
    <li onclick="location.href='https://movie.naver.com/movie/bi/mi/basic.naver?code={{mov.mvcode}}';">
        <img src="{{mov.img}}" style="max-width: 100%; height: auto;"> 
        <div class="post-info">
            <div class="post-basic-info">
                
                <h3><a href="#">{{mov.mvNm}}</a></h3>
                <span><a href="https://movie.naver.com/movie/bi/mi/basic.naver?code={{mov.mvcode}}"><label> </label>{{mov.create_date}}</a></span>
                <p>{{mov.review}}</p>
            </div>
            <div class="post-info-rate-share">
                <div class="rateit">
                    {% if mov.star >= 9 %}
                    <img src="{% static 'images/001.png' %}" title="5stars" />
                    {% elif mov.star >= 7 %}
                    <img src="{% static 'images/002.png' %}" title="4stars" />
                    {% elif mov.star >= 5 %}
                    <img src="{% static 'images/003.png' %}" title="3stars" />
                    {% elif mov.star >= 3 %}
                    <img src="{% static 'images/004.png' %}" title="2stars" />
                    {% elif mov.star >= 1 %}
                    <img src="{% static 'images/005.png' %}" title="1stars" />
                    {% else %}
                    <img src="{% static 'images/006.png' %}" title="0stars" />
                    {% endif%}
                    <!--<span> </span>-->
                </div>
                <div class="emoji post-share" value="{{mov.emoji}}">
                    <span class="emojiSpan" value="{{mov.emoji}}">
                            
                    </span>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </li>
{% endfor %}